.technology-grid-container {
    display: grid;
    place-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "technology-sidebar techno-content techno-content techno-content"
}

.technology-sidebar {
    background-color: $color-2;
    grid-area: technology-sidebar;
}

.techno-content {
    grid-area: techno-content;
}


@media (max-width: 767px) {
    .main {
        padding: 1em;
        width: 100%;
    }

    .technology-grid-container {
        display: grid;
        place-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .technology-sidebar {
        display: none;
    }
}

