.technologies-grid-container {
    display: grid;
    place-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "grid-title grid-title grid-title"
        "css css html"
        "javascript php python"
        "git sqlite sqlite";
}

.technology {
    background-color: $color-2;
    padding: 2rem;
    border-radius: 0.5rem;
}

.technology.grid-title {
    grid-area: grid-title;
}

.technology.css {
    grid-area: css;
}

.technology.html {
    grid-area: html;
}

.technology.javascript {
    grid-area: javascript;
}

.technology.php {
    grid-area: php;
}

.technology.python {
    grid-area: python;
}

.technology.git {
    grid-area: git;
}

.technology.sqlite {
    grid-area: sqlite;
}

@media (max-width: 1024px) {
    .technologies-grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "grid-title grid-title"
            "css html"
            "javascript php"
            "python git"
            "sqlite sqlite";
    }
}

@media (max-width: 767px) {
    .main {
        padding: 1em;
        width: 100%;
    }

    .technologies-grid-container {
        display: grid;
        place-content: center;
        gap: 1.5rem;
        grid-template-areas:
            "grid-title"
            "css"
            "html"
            "javascript"
            "php"
            "python"
            "git"
            "sqlite";
    
        padding-block: 2rem;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
}

