@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poiret+One&display=swap');

$font-color: #313131;
$font-alternative-color: #fff;
$color-1: #4A4E69;
$color-2: #9A8C98;
$color-3: #C9ADA7;
$background-color: #F2E9E4;
$main-font: 'Didact Gothic', sans-serif;
$header-font: 'Poiret One', cursive;